# misc
.DS_Store

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
**/*.tfvars.json
**/.terraform.tfstate.lock.info
**/*.tfplan
**/crash.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
