.layout {
  display: flex;
  min-height: 100vh;
  padding-top: 80px; /* Space for the fixed header */
}

.content {
  flex: 1;
  padding: 20px;
  max-width: 75%;
  z-index: 950;
}

@media (max-width: 700px) {
  .layout {
    flex-direction: column-reverse;
    padding-top: 70px;
  }

  .content {
    max-width: 100%;
  }
}
