.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.objective {
    font-size: large;
    justify-content: center;
    color: var(--tertiary);
    padding-inline: 20px;
}
