.container {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.objective {
    font-size: 2vw;
    justify-content: center;
    color: var(--tertiary);
    padding: 20px;
}

@media screen and (min-width: 1500px) {
    .objective {
        text-align: left;
        font-size: 2vw;
    }

    .container {
        justify-content: left;
        max-width: 75%;
    }
}
