.picture {
    width: min(20vw, 300px);
    border-radius: 20px;
    margin: 15px;
}

.title {
    color: var(--tertiary);
    background-color: var(--secondary);
    border-radius: 5px;
    letter-spacing: 4px;
    font-size: min(6vw, 50px);
    font-weight: bold;
    margin-block: 10px;
}

@media screen and (max-width: 650px) {
    .picture {
        border-radius: 10px;
        width: 35vw;
    }
}
