.picture {
    height: 20vw;
    border-radius: 20px;
    margin: 10px;
}

.title {
    color: var(--tertiary);
    letter-spacing: 4px;
    font-size: min(4vw, 50px);
    font-weight: bold;
    margin: 5px;
}
