.container { /*Contains name, navAndTimeline*/
    padding-left: 20px;
    min-height: fit-content;
}

.timeAndNav {
    display: flex;
    min-height: 100%;
    width: 40vw;
}

.timeline {
    width: 50%;
    height: 100vw;
}

.nav {
    width: 50%;
    height: 30vw;
    overflow: hidden;
    display: inline grid;
    align-content: space-evenly;
    align-self: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li a {
    font-size: 2.5vw;
    display: block;
    text-decoration: none;
    color: #e2e2e2;
    border-radius: 15px;
    padding: 10px;
}

.nav li a.active {
    background-color: #677189;
}

.nav li a:hover:not(.active) {
    background-color: #677189;
}

@media screen and (min-width: 550px) {
    /*make vertical navbar above timeline*/
}

.name {
    font-size: min(5vw, 75px);
    letter-spacing: 2px;
    justify-content: center;
    color: #e2e2e2;
}