.container { /*Contains name, navAndTimeline*/
    padding-left: 20px;
}

.timeAndNav {
    display: flex;
    width: 40vw;
}

.timeline {
    width: 50%;
    height: 100vw;
}

.nav {
    width: 50%;
    height: 20vw;
    overflow: hidden;
    display: inline grid;
    align-content: space-evenly;
    align-self: center;
}

.nav a {
    font-size: 3vw;
}

@media screen and (min-width: 550px) {
    .nav a {
        font-size: 16px;
    }
}

.name {
    font-size: min(5vw, 75px);
    justify-content: center;
    color: black;
}