.tile {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-block: 10px;
    transition: 0.3s;
    border: 2px solid transparent;
    border-radius: 10px;
}

.tile:hover {
    border: 2px solid var(--accent);
    cursor: pointer;
}

.titleAndDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@keyframes blink {
    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }
}

.tile.in-view {
    animation: blink 1s linear 1;
}

.title {
    color: var(--secondary);
    font-size: large;
    text-align: left;
    font-weight: bold;
    width: 45%;
}

.date {
    color: var(--secondary);
    font-size: large;
    text-align: right;
    font-weight: bold;
    width: 45%;
}

.desc {
    color: var(--tertiary);
    text-align: left;
    font-size: medium;
    margin-top: 10px;
}

.picsAndLinks {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
    .tile {
        padding: 5px;
        margin-block: 2px;
    }
}
