.tile {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.tile:hover {
    border: 2px solid var(--accent);
    padding: 8px;
    border-radius: 10px;
}

.titleAndDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    color: var(--secondary);
    text-align: left;
    margin-right: 5px;
}

.date {
    color: var(--secondary);
    text-align: right;
    margin-left: 5px;
}

.desc {
    color: var(--tertiary);
    text-align: left;
}

.link {
    color: var(--tertiary);
    font-size: 15px;
    border-radius: 5px;
    text-decoration: none;
    padding-inline: 10px;
    padding-block: 5px;
    border: 1px solid var(--accent);
    margin: 5px;
}

.link:hover {
    background: var(--accent);
}

.picsAndLinks {
    display: none;
}

.tile:hover .picsAndLinks {
    display: flex;
}

.links {
    display: flex;
    flex-direction: row;
    align-content: left;
}

.pics {
    display: flex;
    flex-direction: row;
}
