.App {
    text-align: center;
}

.App header {
    /*Wood background option*/
    /*background-image: url("./assets/lukas-blazek.jpg");*/
    /*background-size: cover;*/


    background-color: #020f14;
    font-family: "Georgia", serif;
    min-height: 100vh;
    display: flex;
}
