.assignment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
}

.attr {
    font-weight: bold;
    font-size: larger;
    margin-inline: 10px;
}

.deleteButton {
    font-weight: bolder;
    margin-inline: 5px;
    color: var(--primary);
    font-size: medium;
    border-radius: 5px;
    text-decoration: none;
    padding-inline: 10px;
    padding-block: 5px;
    border: 1px solid var(--accent);
    margin-top: 15px;
    margin-bottom: 5px;
    transition: 0.3s;
}

.deleteButton:hover {
    background: var(--accent);
}
