.main {
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    width: 100%;
    padding-block: 5px;
}

[data-amplify-authenticator] {
    --amplify-components-authenticator-router-box-shadow: 0 0 16px var(--accent);
    --amplify-components-button-primary-background-color: var(--primary);
    --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 2px var(--accent);
    --amplify-components-tabs-item-active-border-color: var(--accent);
    --amplify-components-tabs-item-color: var(--primary);
    --amplify-components-tabs-item-active-color: var(--accent);
    --amplify-components-button-link-color: var(--accent);
    --amplify-components-authenticator-state-inactive-background-color: var(--accent);
    --amplify-components-button-primary-hover-background-color: var(--accent);
    --amplify-components-tabs-item-hover-color: var(--accent);
}
